/*#branding h1, #branding h1 a:link, #branding h1 a:visited {

    color: #fff;

}

#branding h1{

    font-size: x-large;

}

h1{

    color: white;    

}*/

 

body{

     /*background: black;*/

    /* background-image: url("https://wallpapercave.com/wp/wp2508260.jpg"); */

       
/*       background: url("/static/bed1.jpg") 100% repeat fixed; */

}

/**/